Tao Pang - An Introduction to Computational Physics-Cambridge University Press (2006).pdf
Understanding Molecular Simulation, Second Edition From Algorithms to Applications (Computational Science Series 1) (Daan Frenkel, Berend Smit).pdf
